@using CabukHemenSimdiIzle.Domain.Enums;
@model List<MovieViewModel>
<!--

        .film-card {
            background-color: #333; /* Card background color */
            margin: 10px;
            transition: transform 0.3s ease-in-out;
            flex: 0 0 calc(33.3333% - 20px); /* Responsive width, adjust as needed */
            max-width: calc(33.3333% - 20px); /* Responsive width, adjust as needed */
            border: 1px solid #444;
            border-radius: 8px;
            overflow: hidden;
        }

            .film-card:hover {
                transform: scale(1.1) perspective(100px) rotateX(360deg) ;
            }

    eski key film card kısmı glitchlendiği için geçici olarak devre dışı bırakıldı
-->
<!-- Import a modern and artistic font from Google Fonts -->
<!--Home Css-->


<!-- Film Cards -->
<div class="container-fluid">
    <div class="film-card-container">
        @foreach (var movie in Model)
        {
            <div class="card film-card">
                <a asp-controller="Home" asp-action="Detail" asp-route-id="@movie.Id">
                    <img src="@movie.PictureUrl" class="card-img-top" alt="@movie.Title">
                    <div class="card-body">
                        <h5 class="card-title">@movie.Title</h5>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

