body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    background: url('https://assets.mixkit.co/videos/preview/mixkit-hollywood-sign-aerial-shot-27113-large.mp4') no-repeat;
    background-size: cover;
}

.container {
    margin-top: 50px;
    z-index: 1;
    position: relative;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

form {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    color: white;
}

label {
    color: white;
}

span {
    color: red;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
