/* custom-styles.css */

body {
    background-color: dimgrey;
    color: dimgrey;
}

.custom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.header-text {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    text-shadow: 7px 7px 12px rgba(0, 0, 0, 1);
}

.custom-form {
    background: #f8f9fa;
    padding: 40px;
    border-radius: 10px;
    width: 60%;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.custom-form-group {
    margin-bottom: 20px;
}

    /* label ve input'ları yan yana hizalamak için flex kullanılıyor */
    .custom-form-group label {
        font-weight: bold;
        color: #007bff;
        display: block;
        margin-bottom: 10px;
    }

    .custom-form-group input {
        width: calc(100% - 10px); /* Genişliği azaltıldı */
        padding: 15px;
        border: 1px solid #ced4da;
        border-radius: 50px;
        margin-top: 50px;
        box-sizing: border-box;
    }

.custom-form button {
    background-color: #007bff;
    border: 1px solid #007bff;
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

    .custom-form button:hover {
        background-color: forestgreen;
        border: 1px solid #0056b3;
    }

.custom-form input:focus {
    outline: none;
    transform: scale(2.2);
}
