/* style-slideshow.css */

.fade {
    display: none;
    width: 100%;
    height: 100%;
    animation: fade 10s infinite;
}

@keyframes fade {
    0%, 100% {
        opacity: 0.4;
    }

    20%, 80% {
        opacity: 1;
    }
}
